.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0,0,0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container > div {
    min-width: 300px;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.container input, 
.container textarea, 
.container select {
    border: 1px solid #ccc!important;
    padding: 4px !important;
    margin: 6px !important;
    text-align: left !important;
    border-radius: 4px !important;
}