<h6>Current Document Status: <u>{{object.status | title}}</u></h6>
{% if object.status == 'draft' or object.status == None %}
<h5>Update Status</h5>

<p><label for="">User:</label><br><input id="username" type="text" class="form-control" /></p>
<p><label for="">Password:</label><br><input id="password" type="password" class="form-control" /></p>
<p><label for="">Status:</label><br><select id="status" class="form-control">
    <option value="approved">Approved</option>
    <option value="rejected">Rejected</option>
</select></p>

<button id="update-status" class="btn btn-primary">Submit</button>
<script>
    $("#update-status").click(() => {
        const url_parts = location.href.split("/");
        const id = url_parts[url_parts.length - 2]

        $.ajax({
            method: "GET",
            url: `/update-spares-order-status/${id}/`,
            data: {
                model: "{{object.model_string}}",
                username: $("#username").val(),
                password: $("#password").val(),
                status: $("#status").val()
            }
        }).then(() => {
            window.location.reload()
        })
    })

</script>

{% endif %}