:root {
    --primary: #009442;
    --secondary: #009688;
}


body {
    background-color: #eeeeee;
}

.form-control {
    margin-bottom: 0.5rem;
}

article {
    min-height: 90vh;
}

.fit-content {
    width: fit-content;
}

textarea {
    height: 6rem;
}

.page {
    margin: 30px auto;
    padding: 0.5in;
    width: 21cm;
    min-height: 29.7cm;
    height: fit-content;
    box-shadow: 5px 5px 20px #ccc;
    background-color: white;
}

.pdf-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    background-color: crimson;
    position: fixed;
    right: 8rem;
    bottom: 8rem;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style-type: none;
    padding: 0.5rem;
    font-size: 1.25rem;
}

footer {
    padding: 1rem;
    color:  white;
}

.table a,
.list-group a {
    font-weight: 700;
    text-decoration: none;
    color: black
}

.home-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 900px;
    margin: 0px auto;
    flex-wrap: wrap;

}

.home-card {
    width:200px;
    height:200px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2rem
}

.home-card svg {
    display: block;
    margin: 0px auto;
    opacity: 0.35;
}

.home-card a {
    text-decoration: none;
    color: black;
}

table button {
    background-color: #eee !important;
    margin: .25rem !important;
}

input[type="submit"] {
    margin-top: .5rem !important;
}

.card {
    margin-top: 1rem !important;
}

select.read-only,
input[readonly="readonly"] {
    pointer-events: none;
}

.list-status {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: black;
    margin: 8px auto
}

.status-saved {
    background-color: #000033;
}

.status-submitted {
    background-color: #007bff;
}

.status-draft {
    background-color: #aaa;
}

.status-void {
    background-color: crimson;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.status-label {
    height: 100%;
    margin-right: 2rem;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 10px 16px
}