{% extends "window.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="card mt-3 fit-content" style="min-width:300px;">
                <div class="card-body">
                    <h4>{{app_name}}</h4>
                    <ul class="list-group">
                        {% for link in links %}
                        <li class="list-group-item"><a href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            {% if app == "maintenance" %}
                {% include "maintenance/home.html" %}
            {% else %}
                {% include "inventory/home.html" %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}