
<h5>Complete Checklist</h5>
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object.checklistitem_set.all %}
            <tr>
                <td>{{item.description}}</td>
                <td><input type="checkbox" /></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p><label for="">User:</label><br><input id="username" type="text" class="form-control" /></p>
<p><label for="">Password:</label><br><input id="password" type="password" class="form-control" /></p>
<button id="update-status" class="btn btn-primary">Submit</button>
<br />
<br />
<br />
<h5>Checklist History</h5>

<table class="table table-sm">
    <thead>
        <tr>
            <td>Date</td>
            <td>Resolver</td>
            <td># Items done</td>
            <td>Items missed</td>
        </tr>
    </thead>
</table>