.table_input {
    margin: 0px;
    height: 30px !important;
    width: 100% !important;
    outline: 0px;
    border: 0px;
    padding: 4px 10px;
    min-width: 80px;
}

.textarea {
    margin: 0px;
    width: 100% !important;
    outline: 0px;
    border: 0px;
    padding: 4px 10px;
}

.table_input:disabled {
    background-color: white !important;
}

input.table_input, select.table_input {
    margin-top: -4px;
}

.dateInput input {
    border: 0 !important
}

.dateInput input:focus {
    border: 0 !important;
    outline: 0 !important
}